* {
  margin: 0px;
  padding: 0px;
}

.bg-container {
  padding: 30px;
}

.header-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  background-size: cover;
  height: 35vh;
  width: 100%;
}
